/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@layer tailwind-base, primevue, tailwind-utilities;

@layer tailwind-base {
    @tailwind base;
}

@layer tailwind-utilities {
    @tailwind components;
    @tailwind utilities;
}

/* GLOBAL STYLE */

/* common alert message style */
.msg--success {
    @apply bg-green-500 mb-4  z-10 text-white rounded-md py-8 text-center;
}
.msg--warning {
    @apply bg-red-400 mb-4  z-10 text-white py-8 relative rounded-md text-center;
}

/* header button for navigation */
/* data table customization  */
.header--button {
    @apply bg-blue-600 flex items-center justify-center gap-2 focus:ring  focus:ring-offset-2 focus:ring-blue-500 focus:ring-opacity-40 outline-none py-2 px-4 rounded-lg shadow text-white;
}

.text--header {
    @apply font-bold text-2xl;
}

/* data tables */
.table--wrapper--dev {
    @apply bg-white p-6 rounded-lg shadow animate-fade-in-down overflow-auto;
}

.animate-fade-in-down {
}

/* part forms customization */

.form--padding--top {
    @apply mt-8 mb-6 w-full;
}

.footer--button--submit {
    @apply bg-blue-600 mr-10 text-white  shadow focus:ring focus:ring-offset-2  focus:ring-opacity-40 py-2 px-8 cursor-pointer rounded-lg;
}
.footer--button--cancel {
    @apply bg-white text-black shadow py-2 px-6 focus:ring focus:ring-offset-2 focus:ring-red-500 focus:ring-opacity-40 cursor-pointer rounded-lg;
}

.wrapper--dev--form {
    @apply w-full py-8 bg-white shadow mt-6 px-4;
}

.wrapper--dev--input {
    @apply md:flex md:items-center md:justify-center;
}

.form--label {
    @apply block text-gray-500 md:text-left mb-1 md:mb-0;
}
.label--prefix {
    @apply text-red-500 px-2;
}
.label--dev--width {
    @apply md:w-2/12;
}
.input--dev--width {
    @apply md:w-6/12;
}

/* active button */
.header--button {
    display: flex !important;
}
.header--button.router-link-exact-active {
    @apply bg-blue-700 rounded-lg;
    display: none !important;
}

.sidebar-item {
    @apply rounded-lg py-2 px-2 transition-all duration-100 font-bold;
    font-size: 14px;
    margin: 0px 5px !important;
}
.sidebar-item.router-link-exact-active {
    @apply bg-blue-700;
}

/* persian date time picker */

.vpd-main {
    @apply block rounded-lg shadow w-full px-3 py-1.5 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm;
}
.form-control {
    border: none !important;
}

/* common style for option and input  */

input,
option,
textarea {
    font-size: 16px !important;
}

::placeholder {
    font-size: 16px !important;
}

label {
    font-size: 16px;
}
